* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #67727A;
    background-color: #F5F5F5;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.8;
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 220px;
    height: 70px;
    background-color: #67727A;
    position: relative;
}

.button h4 {
    font-size: 16px;
    margin: 0;
}

h3 {
    margin: 0 0 5px 0;
}

ul {
    list-style: none;
    text-align: left;
}

li:before {
    content: "+";
    margin-right: 4px;
}

#version, #previous-versions {
    font-size: 14px;
}

#previous-versions {
    color: #67727A;
    margin-bottom: 10px;
}

#sponge-version, #forge-version {
    font-size: 13px;
}

#patreon {
    color: #67727A;
    font-size: 14px;
}
